#wpcontent {
	padding-left: 0;

	.notice {
		display: none !important;
	}
}

.wpessential-admin {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Open Sans, sans-serif;

	img {
		max-width: 100%;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.wpe-admin-page {
		width: 100%;
		display: block;

		header {
			padding: 0;
		}

		.wpe-home, .wpe-health-info {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.title-section {
			width: 100%;
			display: block;
		}

		.wpe-health-info {
			width: 100%;
			display: block;
			padding: 0 50px;

			.el-collapse-item__header {
				padding: 0 10px;
			}

			.info-table {
				width: 100%;
				display: block;
				margin-bottom: 2rem;
			}
		}
	}
}